@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.Headpage {
    font-family: "Outfit", serif;
    background-color: #393942;
    padding-top: 1.5rem;
}

.important-word {
    color: #DB4B6A;
}

.Headpage .content-area {
    color: #F9FAFA;
    display: flex;
    max-width: 65%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.headepage-left {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.headepage-left h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.headepage-left p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: #93959F;
}

.headpage-buttons-area {
    display: flex;
    gap: 2rem;
    padding-top: 2rem;
}

.headepage-left button {
    background-color: #DB4B6A;
    color: white;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}

.headepage-left button:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.headepage-right {
    width: 45%;

}

.headepage-right img {
    width: 500px;
    position: relative;
    transform: scale(1.4)rotate(10deg);
}


@media screen and (max-width: 835px) {
    .Headpage .content-area {
        padding-bottom: 2rem;
    }

    .headepage-left {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .headepage-right {
        display: none;
    }
}

@media screen and (max-width: 428px) {
    .headepage-left h1 {
        font-size: 2.5rem;
    }

    .headepage-left p {
        font-size: 1rem;
    }

    .headpage-buttons-area {
        padding: 0.5rem 0;
    }

    .headepage-left button {
        font-size: 1rem;
        padding: 0.8rem 1.2rem;
    }

    .Headpage .content-area {
        padding-bottom: 1rem;
    }
}