@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", serif !important;
}

header {
    padding: 1rem 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    color: #fff;
}

.logo {
    font-size: 2rem;
    color: #DB4B6A;
    font-weight: 700;
    color: #fff;
}

.logo h1:hover {
    color: #DB4B6A;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}


.Search-bar {
    display: flex;
}

.Search-bar input {
    width: 20rem;
    height: 2rem;
    border-radius: 2rem 0 0 2rem;
    border: none;
    padding: 0.5rem;
    text-align: center;
    font-size: 1rem;
}

.Search-bar input:focus {
    outline: none;
}

.Search-bar button {
    width: 4rem;
    height: 3rem;
    border-radius: 0 2rem 2rem 0;
    border: none;

    cursor: pointer;
}

.Search-bar button img {
    width: 50%;
    object-fit: contain;
}

@media screen and (max-width: 835px) {
    .Search-bar input {
        width: 12rem;
    }
}